@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&family=Roboto&display=swap');
/*전체: 모든 부분은 가운데 정렬이다. */
*{text-align:center;font-family: 'IBM Plex Sans KR','Nanum Gothic','Arial';} /*중앙 배치*/

/* 울주 당일 여행 로고 */
img{width: 300px; /*너비*/
	height: auto; /*높이*/
	margin:150px 0 10px 0;}

body{font-size:x-small;}

/* 전체 로그인 폼 */
#page-wrap{
	margin: 150px auto; /*화면 중앙에 배치*/
	width: 480px; /*너비 지정*/ 
	padding: 20px 0 0 0;
}

/*이메일 주소*/
input[id="email"]{width:460px; padding:0 4px; text-align:left;	height: 50px; margin: 0 0 4px 0; border: 2px solid #ECEEFF;border-radius:5px;}
/*비밀번호*/
input[id="password"]{width:460px; padding:0 4px; text-align:left;	height: 50px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}

/* checkbox: 아이디 저장 */
#SaveIdCheckbox{text-align:left;}

/* 로그인 버튼 */
#loginButton{width:471px;height:55px;margin:5px;
text-align:center;font-size:150%;font-weight:bold;
color:navy;background-color:#ECEEFF;
border-radius:10px;border: 1px solid #ac8bef;;
cursor: pointer;}

/* 아이디/비밀번호 찾기 | 회원 가입 */
#idJoin{text-decoration:none;}
#idJoin a{text-decoration:none;color:black;}

/* 푸터 */
footer{
	bottom:0; /*하단에 여백 없다.*/
	width: 100%; /*너비:가로 사이즈를 브라우저에 가득 채운다.*/
	height: 30px; /*높이*/
	margin: 0;
	padding: 110px 0 0 0;
}