@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&family=Roboto&display=swap');
/*전체 */
*{text-align:center;font-family: 'IBM Plex Sans KR','Nanum Gothic','Arial';} /*중앙 배치*/

/*1. 헤더 영역 (로고, 로그인을 포함한다.) */
header {width: 100%; /*너비*/ height: 100px; /*높이*/}
	/*1.1 로고  이미지*/
	img {float: left;width: 150px; /*너비*/ height: auto; /*높이*/ margin:0;}
	/*1.2 로그인  버튼*/
	#login > ul > li {
	width: 50px; /*너비*/ height: 15px; 
	border: solid 1px #CCCCFF; 	border-radius:10px;
	float: right;text-decoration:none;display:inline;
	font-size:14px;
	padding:2px 4px 5px 4px;
	}
	#login > ul > li > a{
			display:block; /*링크 텍스트는 블록으로*/
			color: navy;
			text-decoration:none; /*밑줄을 없앤다*/
	}

/*헤딩: "간편회원가입" 문자*/
#joinHeading{margin: auto;width: 450px;clear:both;height:50px;}
h1{margin:10px;text-align:center;font-size:28px;}
/* 수평선 */
hr{height:1px;border:0; background-image: linear-gradient(to right,#ECEEFF, #CCCCFF, #ECEEFF);}

/*글자 크기: small*/
body{font-size:17px;}

/* 전체 폼 */
#page-wrap{
	margin: 20px auto; /*화면 중앙에 배치*/
	width: 480px; /*너비 지정*/ 
	padding:0;
	/*padding: 20px 0 0 0;*//*데스크탑*/
}

/*이메일, 계정 선택, "중복 확인"버튼*/
#emailDoubleCheck{margin:0 0 0 -5px;padding:0 0 0 5px;width: 480px; 
display:flex;flex-direction:row;}/*같이 움직이도록 한다.*/

/*휴대폰 번호, 인증번호 발송 버튼*/
#phoneNumberAuthentication{margin:0 0 0 -5px;padding:0 0 0 5px;width: 480px; display:flex;flex-direction:row;}/*같이 움직이도록 한다.*/

/*전체 input 크기, 마진 조정*/
input[id="email"]{width:208px; padding:0 8px; text-align:left;	height: 45px; margin: 0 0 4px 0; border: 2px solid #ECEEFF;border-radius:5px;}
input[id="password"]{width:460px; padding:0 8px; text-align:left;	height: 45px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}
input[id="passwordCheck"]{width:460px;padding:0 8px; text-align:left;	height: 45px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}
input[id="name"]{width:460px;padding:0 8px;text-align:left;	height: 45px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}
input[id="phone"]{width:335px; padding:0 8px; text-align:left;	height: 45px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}
input[id="birthday"]{width:460px;padding:0 8px;text-align:left;	height: 45px; margin: 4px 2px; border: 2px solid #ECEEFF;border-radius:5px;}


		/* 이메일 옵션을 왼쪽으로 옮김 */
select > option{text-align:left;}

/*버튼: "직접 입력" 높이 조정*/
#emailOption{
	outline:none;/*input 박스를 클릭 했을떄 나오는 테두리 색상 없애기*/
	height:48px;width:150px;border: 2px solid #ECEEFF;border-radius:5px;}
select:focus{
border:solid 2px #CCCCFF !important; box-shadow: 0 0 15px #ECEEFF;}


/*버튼: "중복 확인", "인증 번호 발송"*/
#emailButton, #sentNumber{height:47px;padding: 0 20px;font-weight:bold;color:navy;background-color:#ECEEFF;border-radius:3px;
	border: 0.5px solid #ac8bef;
	cursor: pointer;}
#sentNumber{margin:5px 0 0 0;}
#emailButton{width:100px;}

/*"개인정보 유효기간" 문장*/
#infoValidSentence{font-size:17px;padding:10px 0;font-weight:bold;text-align:left;margin:0 5px;}
/*개인정보 유효기간 아래 화살표 버튼*/
#infoValidButton{color:navy;padding:0;border: none;background: none;}

/*개인정보 유효기간 클릭시 뜨는 설명글 (3줄)*/
#infoValid{font-size:17px;text-decoration:none;text-align:left;}
#infoValid ul{width:420px;padding:25px 20px 25px 30px;background-color:#ECEEFF;border-radius:10px;margin:0 auto 5px auto;}/*중앙 정렬, 내노트북: width:400px*/
#infoValid li{list-style-type:square; text-align:left;}

/*개인정보 유효기간 radio 버튼*/
#AllInfoValidLength{text-align:left;margin:0 0 20px 5px;}
input[id="infoValidRadio"]{position: relative; top:1px;} /*버튼과 텍스트의 높이를 조정한다*/


/* "필수 약관 동의, 선택 약관 동의" 문장*/
#TotalTermsOfService{font-size:17px;text-align:left;margin:0;font-weight:bold;padding:0;}
#TermsOfService{font-weight: bold;}/*bold체*/
input[id="TermsOfService"]{position: relative; top:2px;} /*체크박스 버튼과 텍스트의 높이를 조정한다*/

/*약관 checkbox 옆 동의 1문장씩*/
#TotalSub{font-size:17px;padding:0 10px 0 10px;}
/*약관  checkbox*/
.box{width:480px; margin: 5px auto; padding: 0;border:2px solid #ECEEFF; border-radius:10px;}/*바깥에 상자 선*/
#sub_TermsOfService li{list-style:none;text-align:left;padding:5px 0;}/*ul bullet을 없앤다*/
/*약관 세부 checkbox의 높이 조절*/
input[id="sub_TermsOfService1"]{position: relative; top:2px;} /*박스 안 체크박스 버튼과 텍스트의 높이를 조정한다*/
input[id="sub_TermsOfService2"]{position: relative; top:2px;}
input[id="sub_TermsOfService3"]{position: relative; top:2px;}
input[id="sub_TermsOfService4"]{position: relative; top:2px;}
input[id="sub_TermsOfService5"]{position: relative; top:2px;}
/*"이메일","SMS"checkbox*/
#EmailSms{text-align:center;padding:10px 280px 0 0;}
input[id="sub_TermsOfService6"]{position: relative; top:2px;}
input[id="sub_TermsOfService7"]{position: relative; top:2px;}

/*"가입 완료" 버튼*/
#joinButton{width:480px;height:55px;text-align:center;font-size:24px;
font-weight:bold;color:navy;background-color:#ECEEFF;
border-radius:10px;border: 1px solid #ac8bef;
cursor: pointer;}


/*푸터*/
footer{
/*	position:fixed; /*이 부분을 고정*/ 
	/*bottom:0; /*하단에 여백 없다.*/ 
	width: 100%; /*너비:가로 사이즈를 브라우저에 가득 채운다.*/
	margin: 30px 0 0 0;
	font-size:14px;
}


		/*input 클릭하면 효과 있다.*/
input:focus{outline:none;/*input 박스를 클릭 했을떄 나오는 테두리 색상 없애기*/
border:solid 2px #CCCCFF; box-shadow: 0 0 15px #ECEEFF;}
